
  

  <h1 class="text-center text-2xl py-2 mb-4">Parks</h1>
  <div class="rb-table-container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Neighbourhood</th>
        <th>District</th>
        <th>CCA</th>
      </tr>
    </thead>
    <tbody>
      <% @parks.each do |park| %>
        <tr>
          <td><%= link_to park.name, park_path(park) %></td>
          <td><%= park.location.description %></td>
          <td><%= park.neighbourhood.name %></td>
          <td><%= park.district.name %></td>
          <td><%= park.cca %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pagination">
<%= paginate @parks %>
   </div>

  </div>
  

