<!-- app/views/parks/show.html.erb -->
<h1><%= @park.name %></h1>
<p><%= @park.description %></p>
<p>Location: <%= @park.location %></p>
<p>Neighbourhood: <%= @park.neighbourhood %></p>
<p>District: <%= @park.district %></p>
<p>CCA: <%= @park.cca %></p>
