<!-- app/views/parks/show.html.erb -->
<div class="container mx-auto my-8 px-4">
<h1 class="text-center text-2xl py-2 mb-4"><%= @park.name %></h1>

<div align="center" class="member-container">
<p><strong>Location:</strong> <%= @park.location.description %></p>
<p><strong>Neighbourhood:</strong> <%= link_to @park.neighbourhood.name, neighbourhood_path(@park.neighbourhood) %></p>
<p><strong>District:</strong> <%= link_to @park.district.name, district_path(@park.district) %></p>

<%= link_to 'Back to Parks', parks_path %>
</div>
</div>


