<%= form_with(model: @school_zone_signage, local: true) do |form| %>
  <% if @school_zone_signage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school_zone_signage.errors.count, "error") %> prohibited this school zone signage from being saved:</h2>
      <ul>
        <% @school_zone_signage.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :school_name %>
    <%= form.text_field :school_name %>
  </div>

  <div class="field">
    <%= form.label :zone_name %>
    <%= form.text_field :zone_name %>
  </div>

  <div class="field">
    <%= form.label :sign_type %>
    <%= form.text_field :sign_type %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
