
  

  <div class="container mx-auto my-8 px-4">
    <h1 class="text-center text-2xl py-2 mb-4">School Zone Signages</h1>
    <div class="rb-table-container">
    <table>
      <thead>
        <tr>
          <th class="py-3 px-4">Image</th>
          <th>School Name</th>
          <th>Zone Name</th>
          <th>Sign Type</th>
        </tr>
      </thead>
      <tbody>
        <% @school_zone_signages.each do |signage| %>
          <tr>
            <td class="py-3 px-4">
            <% if signage.image.attached? %>
              <%= image_tag signage.image.variant(resize: "100x100") %>
            <% end %>
          </td>
            <td><%= link_to signage.school.name, school_zone_path(signage.school_zone) %></td>
            <td><%= signage.school_zone.zone_name %></td>
            <td><%= signage.sign_type %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pagination">
      <%= paginate @school_zone_signages %>
    </div>
   
    </div>
  </div>


