<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
  <div class="container">
    

    <main>
      <div class="search-container">
        <h2>Search for Parks, Trees, and School Zone Signages</h2>
        <%= form_with url: search_path, method: :get, local: true do %>
          <%= text_field_tag :q, params[:q], placeholder: "Search..." %>
          <%= submit_tag "Search" %>
        <% end %>
      </div>
    </main>

   
  </div>
</body>
</html>
