<!DOCTYPE html>
<html>
<head>
  <title>Search Results</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
 
  <div class="center">
    <h1>Search Results</h1>

<% if @results.present? %>
  <table>
    <thead>
      <tr>
        <% if @results.first.is_a?(Park) %>
          <th>Name</th>
          <th>Location</th>
          <th>Neighbourhood</th>
          <th>District</th>
          <th>CCA</th>
        <% elsif @results.first.is_a?(SchoolZoneSignage) %>
          <th>School Name</th>
          <th>Zone Name</th>
          <th>Sign Type</th>
        <% elsif @results.first.is_a?(UrbanTree) %>
          <th>Common Name</th>
          <th>Electoral Ward</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |result| %>
        <tr>
          <% if result.is_a?(Park) %>
            <td><%= link_to result.name, park_path(result) %></td>
            <td><%= result.location %></td>
            <td><%= result.neighbourhood %></td>
            <td><%= result.district %></td>
            <td><%= result.cca %></td>
          <% elsif result.is_a?(SchoolZoneSignage) %>
            <td><%= link_to result.school.name, school_zone_path(result) %></td>
            <td><%= result.school_zone.zone_name %></td>



            <td><%= result.sign_type %></td>
          <% elsif result.is_a?(UrbanTree) %>
            <td><%= link_to result.common_name, urban_tree_path(result) %></td>
            <td><%= result.electoral_ward %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No results found for '<%= params[:q] %>' in '<%= params[:category] %>'</p>
<% end %>

<div class="text-center mt-6">
    <%= link_to 'Back to Homepage', root_path, class: 'text-blue-500 hover:text-blue-700' %>
  </div>
  <br />
  </div>

  <style>
    .center {
      text-align: center;
      margin-top: 50px;
    }
    nav ul {
      list-style-type: none;
      padding: 0;
    }
    nav ul li {
      display: inline;
      margin-right: 20px;
    }
  </style>
</body>
</html>
