<!DOCTYPE html>
<html>
<head>
  <title>Search Results</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
 
  <div class="center">
    <h1>Search Results</h1>

<% if @parks.present? %>
  <h2>Parks</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Neighbourhood</th>
        <th>District</th>
        <th>CCA</th>
      </tr>
    </thead>
    <tbody>
      <% @parks.each do |park| %>
        <tr>
          <td><%= link_to park.name, park_path(park) %></td>
          <td><%= park.location %></td>
          <td><%= park.neighbourhood %></td>
          <td><%= park.district %></td>
          <td><%= park.cca %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @school_zones.present? %>
  <h2>School Zones</h2>
  <table>
    <thead>
      <tr>
        <th>School Name</th>
        <th>Zone Name</th>
        <th>Sign Type</th>
      </tr>
    </thead>
    <tbody>
      <% @school_zones.each do |signage| %>
        <tr>
          <td><%= link_to signage.school.name, school_zone_path(signage.school_zone) %></td>
          <td><%= signage.school_zone.zone_name %></td>
          <td><%= signage.sign_type %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @urban_trees.present? %>
  <h2>Urban Trees</h2>
  <table>
    <thead>
      <tr>
        <th>Common Name</th>
        <th>Electoral Ward</th>
      </tr>
    </thead>
    <tbody>
      <% @urban_trees.each do |tree| %>
        <tr>
          <td><%= link_to tree.common_name, urban_tree_path(tree) %></td>
          <td><%= tree.electoral_ward %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @parks.empty? && @school_zones.empty? && @urban_trees.empty? %>
  <p>No results found for '<%= params[:q] %>'</p>
<% end %>

  </div>

  <style>
    .center {
      text-align: center;
      margin-top: 50px;
    }
    nav ul {
      list-style-type: none;
      padding: 0;
    }
    nav ul li {
      display: inline;
      margin-right: 20px;
    }
  </style>
</body>
</html>
