<!DOCTYPE html>
<html>
<head>
  <title>Urban Trees</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  

  <div class="container">
    <h1 class="text-center text-2xl py-2 mb-4">Urban Trees</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Common Name</th>
          <th>Electoral Ward</th>
        </tr>
      </thead>
      <tbody>
        <% @urban_trees.each do |tree| %>
          <tr>
            <td><%= tree.id %></td>
            <td><%= link_to tree.common_name, urban_tree_path(tree) %></td>
            <td><%= tree.electoral_ward %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="pagination">
      <%= paginate @urban_trees %>
    </div>
   <br clear="all">
  </div>

 
</body>
</html>
