<!-- app/views/urban_trees/index.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Urban Trees</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'School Zone Signages', school_zones_path %></li>
        <li><%= link_to 'Urban Trees', urban_trees_path %></li>
        <li><%= link_to "Winnipeg's Parks and Open Space", parks_path %></li>
        <li><%= link_to 'Admin', admin_root_path %></li>
      </ul>
    </nav>
  </header>

  <h1>Urban Trees</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Common Name</th>
        <th>Electoral Ward</th>
      </tr>
    </thead>
    <tbody>
      <% @urban_trees.each do |tree| %>
        <tr>
          <td><%= tree.id %></td>
          <td><%= tree.common_name %></td>
          <td><%= tree.electoral_ward %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <footer>
    <h2>Search for Parks, Trees, and School Zone Signages</h2>
    <%= form_with url: search_path, method: :get, local: true do %>
      <%= text_field_tag :q, params[:q], placeholder: "Search..." %>
      <%= submit_tag "Search" %>
    <% end %>
  </footer>
</body>
</html>
