<!DOCTYPE html>
<html>
<head>
  <title>Winnipeg Data</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  
  <header>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'School Zone Signages', school_zones_path %></li>
        <li><%= link_to 'Urban Trees', urban_trees_path %></li>
        <li><%= link_to "Winnipeg's Parks and Open Space", parks_path %></li>
        <li><%= link_to 'Admin', admin_root_path %></li>
      </ul>
    </nav>
  </header>
<div class="container">
  <%= yield %>
</div>
  <footer>
   Winnipeg Data Project Website 2024.
  </footer>
  
</body>
</html>
